* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
::selection {
  background-color: #079992;
  color: #000;
}
::-webkit-scrollbar {
  width: 7px;
  background: grey;
  background-color: #fff;
}
::-webkit-scrollbar-thumb {
  background-color: #079992;
  border-radius: 5px;
}
